.searchInput {
    padding: 20px 0;
    justify-content: space-evenly;
}

.searchInput > input {
    width: 390px;
    font-size: 15px;
}

.searchInput > i {
    margin-left: -35px;
    color: gray;
}

.friendList {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-row-gap: 50px;
}

.eachFriend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    height: 25vw;
    width: 99%;
    margin: auto;
    border-radius: 15px;
}

.eachFriend > div > h3 {
    font-size: 15px;
    margin: 0px;
    margin-bottom: 5px;
    margin-left: -205px;

}

.friendImg {
    background-image: url("../Images/imagenfondo.jpg");
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.friendButtons > button {
    height: 35px;
    margin: 5px;
    width: 150px;
    padding: 6px;
    font-size: 13px;
}

.profileButton {
    background-color: green;
    border: rgb(2, 104, 2);
    height: 45.25px;
    border-radius: 10px;
    color: white;
}

.profileButton:hover {
    background-color: rgb(2, 104, 2);
    cursor: pointer;
}

.profileButton:active {
    color: gray;
}

.removeButton {
    background-color: rgb(216, 16, 16);
    border: rgb(156, 13, 13);
    height: 45.25px;
    border-radius: 10px;
    color: white;
}

.removeButton:hover {
    background-color: rgb(156, 13, 13);
    cursor: pointer;
}

.removeButton:active {
    color: gray;
}

@media only screen and (min-width: 620px) {
    .eachFriend {
        width: 620px;
        height: 155px;
    }

    .eachFriend > div > h3 {
        font-size: 17px;

    }
    
    .friendImg {
        width: 80px;
        height: 80px;
    }
    
    
    .friendButtons > button {
        height: 40px;
        width: 160px;
        font-size: 15px;
    }


}

@media only screen and (min-width: 1264px) {
    .friendList {
        grid-template-columns: 1fr 1fr;
    }


}

@media only screen and (min-width: 1920px) {
    .friendList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}