.sliderImg {
    width: 1250px;
    height: 900px;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowButtonRight {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
}

.arrowButtonLeft {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.photosContainer {
    width: 100%;
}

.photos {
    margin: auto;
    width: 100%;
    height: 30vw;
    background-position: center;
    background-size: cover;
    background-color: gray;
}

.gridPhotosContainer {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;

}

@media screen and (min-width: 678px){
    
    .gridPhotosContainer {
       grid-template-columns: 1fr 1fr 1fr;
    }

    .photos {
        height: 20vw;
    }

}

@media screen and (min-width: 900px){
    
    .gridPhotosContainer {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .photos {
        height: 15vw;
    }

}

@media screen and (min-width: 961px){
    
    .gridPhotosContainer {
        width: 728px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .photos {
        height: 145px;
    }

}

@media screen and (min-width: 1378px){
    
    .gridPhotosContainer {
        width: 960px;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}
