.principalNav {
    height: 80px;
    background-color: rgb(229, 243, 238);
}

.principalNav > a {
    text-decoration: none;
    margin-right: 100px;
}

.principalNav > a > i {
    font-size: 50px;
    padding-top: 10px;
    color: white;
}


.principalNav > a > i:hover {
    color: aquamarine;
}