.principalNav {
    height: 80px;
    background-color: black;
}

.principalNav > a {
    text-decoration: none;
}

.principalNav > a > i {
    font-size: 35px;
    padding-top: 25px;
    color: white;
    margin-bottom: 20px;
    padding-right: 80px;
}


.principalNav > a > i:hover {
    color: aquamarine;
}