.sliderImg {
    width: 1250px;
    height: 200px;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.slider {
    margin-top: 60px;
    position: relative;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.arrowButtonRight {
    position: absolute;
    top: 80%;
    right: 32px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.arrowButtonLeft {
    position: absolute;
    top: 80%;
    left: 32px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.arrowButtonRight:hover {
    color: rgb(229, 243, 238);
}

.arrowButtonLeft:hover {
    color: rgb(229, 243, 238);
}


.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 0.5s;
    transform: scale(1.08);
}

.photosContainer {
    width: 100%;
}

.photos {
    margin: auto;
    width: 100%;
    height: 30vw;
    background-position: center;
    background-size: cover;
    background-color: gray;
    cursor: pointer;
}

.gridPhotosContainer {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;

}

@media screen and (min-width: 678px){
    
    .gridPhotosContainer {
       grid-template-columns: 1fr 1fr 1fr;
    }

    .photos {
        height: 20vw;
    }

    .slider {
        height: 50vh;
        
    }

    .sliderImg {
        height: 300px;
    }

    .arrowButtonRight {
        top: 50%;
    }
    
    .arrowButtonLeft {
       top: 50%;
    }

}

@media screen and (min-width: 900px){
    
    .gridPhotosContainer {
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .photos {
        height: 15vw;
    }

    .slider {
        height: 60vh;
        
    }

    .sliderImg {
        height: 400px;
    }

}

@media screen and (min-width: 961px){
    
    .gridPhotosContainer {
        width: 728px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .photos {
        height: 145px;
    }

    .slider {
        height: 65vh;
        
    }

    .sliderImg {
        height: 400px;
    }

}

@media screen and (min-width: 1378px){
    
    .gridPhotosContainer {
        width: 960px;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .slider {
        height: 90vh;
        
    }

    .sliderImg {
        height: 600px;
    }

}
